.container .row {
    margin: 1rem 0;
}

/*target*/
.container .target .form-check {
    margin: 0.3rem 0;
}

.container .target input.form-check-input {
    line-height: 100%;
    height: 100%;
    margin-top: 0.1rem;
}

.container .target input.input-item {
    width: 2rem;
}

/*联系人*/
.container .contact .card {
    width: 40%;
    display: inline-block;
}

.container .contact .choose {
    width: 12%;
    height: 100%;
}

.container .contact .iconfont {
    display: block;
    font-size: 2rem;
}

.container .contact .iconfont.add {
    top: 70%
}

.container .contact .iconfont.remove {
    top: 30%
}

.container .contact .card button {
    margin-bottom: 0.2rem;
    display: block;
}